@use '../abstracts/variables' as *;

.auth-required-modal {
  text-align: center;
  padding: $gap;

  &__icon {
    font-size: 48px;
    margin-bottom: $gap;
  }

  p {
    margin: 0 0 calc($gap * 1.5) 0;
    color: $color-4;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: calc($gap / 2);
  }
}
