/**
 * Hashtag - Clickable hashtag links
 * Used in: formatHashtags helper
 */

@use '../abstracts/variables' as *;

.hashtag {
  color: $color-4;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $color-5;
    text-decoration: underline;
  }
}
